<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Todo
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Todo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-floating py-2">
                            <input type="text" class="form-control" [(ngModel)]="title" name="title" id="floatingInput" placeholder="Title">
                            <label for="title">Title</label>
                        </div>
                        
                        <div class="form-floating py-2">
                            <input type="text" class="form-control" [(ngModel)]="desc" name="desc" id="floatingInput" placeholder="Description">
                            <label for="desc">Description</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Todo</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>